@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:200&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crete+Round|Francois+One|Roboto:200|Satisfy&display=swap');

#menu {


    position: fixed;
    top: 0;
    width: 100%;
    padding-right: 2%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    background: rgb(0, 0, 0);
    z-index: 2;
}


nav {

    width: 100%;
    display: flex;
    justify-content: space-between;
}

#menu .logo {
    font-family: 'Roboto', sans-serif;
    font-weight: 230;
    font-size: 45px;
    margin-left: 5%;
    padding: 0.3%;
    color: rgba(8, 160, 102, 0.87);
    text-decoration: none;
}

#menu li {

    display: inline-block;
    margin: 18px;
    right: 80px;

}

#menu ul {
    margin-right: 2%;
    padding-top: 0.5%;
}


a:link {
    text-decoration: none;
    color: rgb(248, 240, 240);
}

#menu a {
    font-size: 22px;
    transition: color 0.35s ease;
    color: rgb(248, 240, 240);
}

#menu a:hover {
    color: rgba(8, 170, 108, 0.925);
}

@media only screen and (max-width : 1180px) {


    #menu .logo {
        display: none;
    }



    #menu a {
        font-size: 11px;
        transition: color 0.35s ease;
        color: rgb(248, 240, 240);
    }

    nav {


        display: flex;
        justify-content: center;
    }

    #menu ul {

        padding-top: 0.5%;
    }

    #menu li {

        display: inline-block;
        margin: 18px 11px;
        right: 1px;

    }

    #menu {


        position: fixed;
        top: 0;
        padding-right: 0%;
        width: 100%;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        background: rgb(0, 0, 0);
        z-index: 2;
    }

}